<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] - %msg%n" />
        </Console>
        <File name="LogFile" fileName="target/surefire-reports/log/automation.log" immediateFlush="false" append="true">
            <!-- <PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/> -->
        	<PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss.SSS} [%t] - %msg%n"/>
        </File>
<!--         <File name="ErrorFile" fileName="target/surefire-reports/log/error.log" immediateFlush="false" append="true">
            <PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        	<PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss.SSS} [%t] - %msg%n"/>
        </File> -->
    </Appenders>
    <Loggers>
        <Root level="debug">
            <AppenderRef ref="Console" />
            <AppenderRef ref="LogFile" />
            <!-- <AppenderRef ref="ErrorFile" level="error" /> -->
        </Root>
    </Loggers>
</Configuration>

